.input {
  background-color: #424242;
  padding: 90px 0 90px 0;
}
.input .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input .container img {
  margin-right: 60px;
}

form {
  display: flex;
  flex-direction: column;
  margin-right: 55px;
}
form p label {
  color: #FFD366;
  font-size: 18px;
  font-family: sans-serif;
  display: block;
  margin-bottom: 5px;
}
form p input {
  width: 250px;
  height: 40px;
  background: rgba(255, 255, 255, 0.18);
  border: 2px solid #FFD366;
  border-radius: 10px;
  font-size: 24px;
  color: white;
  padding-left: 12px;
}
form p input:first-of-type {
  margin-bottom: 20px;
}

.submit-frame {
  position: relative;
}
.submit-frame .title {
  position: absolute;
  top: 44px;
  left: 136px;
  font-size: 32px;
  width: 128px;
  visibility: hidden;
}
.submit-frame .show {
  visibility: visible;
}

.submit {
  width: 120px;
  height: 120px;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bolder;
  color: #424242;
  background-color: #FFD366;
  border: none;
  border-radius: 50%;
  position: relative;
}
.submit h4 {
  font-size: 32px;
}
.submit p {
  position: absolute;
  left: 42px;
  bottom: 22px;
  font-size: 14px;
}

.submit-result {
  background-color: unset;
}

.submit:hover, .submit:focus {
  box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64);
}

.submit:active {
  background: #DEA821;
}

.result-board {
  background-color: #F5F5F5;
  padding-top: 50px;
  padding-bottom: 50px;
}
.result-board h2 {
  font-size: 32px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 620px;
  background-color: #fff;
  padding-right: 16px;
  margin-bottom: 16px;
}
.result h3 {
  width: 96px;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.result p {
  font-size: 16px;
  line-height: 24px;
}
.result .delete {
  font-size: 18px;
  position: absolute;
  right: -36px;
}

.result h3, .item h4, .item p, .date {
  font-family: sans-serif;
}

.status {
  display: flex;
}

.item {
  display: flex;
  margin-right: 20px;
}
.item h4 {
  font-size: 16px;
  line-height: 24px;
  margin-right: 5px;
}
.item p {
  font-size: 24px;
}

.summary {
  height: 56px;
  width: 7px;
}

.clear {
  display: block;
  margin: 30px auto 0 auto;
  font-size: 20px;
  width: 150px;
  height: 36px;
  font-family: sans-serif;
  font-weight: bold;
  color: #424242;
  background-color: #FFD366;
  border: none;
  border-radius: 10px;
}

.clear:hover, .clear:focus {
  box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64);
}

.clear:active {
  background: #DEA821;
}

.ideal {
  background-color: #86D73F;
  box-shadow: 2px 0 3px 0 rgba(134, 215, 63, 0.29);
}

.ideal-title {
  color: #86D73F;
}

.ideal-button {
  border: 6px solid #86D73F;
}

.underweight {
  background: #31BAF9;
  box-shadow: 2px 0 3px 0 rgba(49, 186, 249, 0.29);
}

.underweight-title {
  color: #31BAF9;
}

.underweight-button {
  border: 6px solid #31BAF9;
}

.overweight {
  background: #FF982D;
  box-shadow: 2px 0 3px 0 rgba(255, 152, 45, 0.29);
}

.overweight-title {
  color: #FF982D;
}

.overweight-button {
  border: 6px solid #FF982D;
}

.obese-c1 {
  background: #FF6C03;
  box-shadow: 2px 0 3px 0 rgba(255, 108, 3, 0.29);
}

.obese-c1-title {
  color: #FF6C03;
}

.obese-c1-button {
  border: 6px solid #FF6C03;
}

.obese-c2 {
  background: #FF6C03;
  box-shadow: 2px 0 3px 0 rgba(255, 108, 3, 0.29);
}

.obese-c2-title {
  color: #FF6C03;
}

.obese-c2-button {
  border: 6px solid #FF6C03;
}

.obese-c3 {
  background: #FF1200;
  box-shadow: 2px 0 3px 0 rgba(255, 18, 0, 0.29);
}

.obese-c3-title {
  color: #FF1200;
}

.obese-c3-button {
  border: 6px solid #FF1200;
}

footer {
  background-color: #FFD366;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

/*# sourceMappingURL=bmi-calculator.css.map */
